body {

	background-color: #E0DEDC;
}

.wrapper {

	width: 100%;
	height: 720px;
}

#inputText {

	width: 48%;
	height: 700px;
	resize: none;
	border: 1px solid black;
	margin: 0px;
	float: left;
	overflow: auto;
	word-wrap: break-word;
}

#output {

	width: 48%;
	height: 700px;
	resize: none;
	border: 1px solid black;
	margin-left: 8px;
	float: left;
}

#frame_inputText {
	float: left;
}

#frame_output {
	margin-left: 8px;
	float: left;
}

#EditAreaArroundInfos_inputText, #EditAreaArroundInfos_output {

	display: none;
}

#console {

	background-color: white;
	width: 97%;
	height: 400px;
	resize: none;
	border: 1px solid black;
	float: left;
}
.header {

	width: 97%
}

.header td {

	width: 40%;
	font-size: 20pt;
	font-weight: bolder;
}

input[type=file] {

	color: rgba(0, 0, 0, 0);
}
